﻿
@{
    ViewData["Title"] = "FrontPage";
}

<h2>FrontPage</h2>


@model List<TMDbLib.Objects.Search.SearchMovie>


<div class="AllMovies">
    @foreach (var item in Model)
    {

        <div class="MovieBlock">
            <a href='@Url.Action("MoviePage", "Movie", new { movieId = item.Id })'>
                <img src="~/images/Deadpool.jpg" width="200" height="300" class="MovieImage">
                <div class="MovieTitle">@item.Title</div>
            </a>
        </div>
    }

</div>

