﻿@model MODELS.UserModel
@{
    ViewData["Title"] = "LoginPage";
}

<h2>LoginPage</h2>

<form asp-action="LoginPage" asp-controller="Login">
    <p>Username:<input asp-for="Username" type="text" /></p>
    <p>Password:<input asp-for="Password"type="password" /></p>

    <p><input type="submit" name="Login"/></p>

    <p>Make a new account <a href="@Url.Action("NewAccount", "Register")">here</a></p>

    <p>@ViewBag.LoginData</p>

    @*<p>@ViewBag.TestSession</p>*@
</form>
