﻿
@model MODELS.ReviewModel

@{
    ViewData["Title"] = "ReviewPage";
}

<h2>ReviewPage</h2>

@*@ViewData["Id"].ToString()*@
@ViewData["Name"].ToString()

<form asp-action="ReviewPage" asp-controller="Reviews">
    <p>Title: <input asp-for="Title" type="text" /></p>
    <p>Recommended: <input asp-for="Recommended" type="checkbox" /></p>
    <p>Description: <input asp-for="Description" type="text" /></p>
    <p>Rating: <input asp-for="Rating" type="number" /></p>
    <p><input asp-for="MovieId" type="hidden" value="@ViewData["Id"]"/></p>

    <p><input type="submit" name="Create" /></p>

    <p>@ViewBag.RegisterData</p>

</form>