﻿@model List<INTERFACESVIEW.IReview>
@{
    ViewData["Title"] = "Movie";
}

<h2>Movie</h2>



<p>@ViewData["movieName"].ToString()</p>
@*@ViewData["movieGenres"].ToString()*@
<p>@ViewData["movieDescription"].ToString()</p>
@*@ViewData["movieId"].ToString()*@


<p>Make a review on this movie<a href="@Url.Action("ReviewPage", "Reviews",new { movieId = @ViewData["movieId"], movieName = @ViewData["movieName"]})"> here</a></p>

<form asp-action="MoviePage" asp-controller="Movie">
    <p><input type="submit" name="AddToWatchlist" /></p>

    <p>@ViewBag.WatchListData</p>

</form>


<h3>Reviews</h3>
<div id="AllReviews">
    
    @foreach (var item in Model)
    {
        <div class="Review" style="border-bottom: 1px solid black;">
            <div>@item.Title</div>
            <div>@item.Rating/10</div><br />
            @if (@item.Recommended == true)
                {
            <div>Recommended</div><br />
                }
                else
                {
            <div>Not Recommended</div><br />
                }

            <div>@item.Description</div>
        </div>
    }
    
</div>