﻿@model MODELS.UserModel
@{
    ViewData["Title"] = "CreateAccount";
}

<h2>CreateAccount</h2>

<form asp-action="NewAccount" asp-controller="Register">
    <p>Name: <input asp-for="Name" type="text" /></p>
    <p>Email: <input asp-for="Email" type="text" /></p>
    <p>Username: <input asp-for="Username" type="text" /></p>
    <p>Password: <input asp-for="Password" type="password" /></p>

    <p><input type="submit" name="Create" /></p>

    <p>@ViewBag.RegisterData</p>

</form>